include MANIFEST
include Makefile
include *.txt
include *.md
include *.in
include LICENSE
include *.py
include tox.ini
include .coveragerc
include *.conf
include *.yml
include *.ico
recursive-include infro *.py
recursive-include api *.py
recursive-include api *.css
recursive-include api *.jinja
recursive-include api *.js
recursive-include api *.png
recursive-include api *.ico
global-exclude *.swp
recursive-exclude infro *.pyc
prune config
prune tests
recursive-include infro *.cfg
recursive-include infro *.ini
recursive-include infro *.md
recursive-include infro *.yml
